@import "tailwindcss";


#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

p {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  color: #423d33;
  font-size: 15px;
}

h1 {
  font-family: 'Unbounded', sans-serif;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 500;
}

h2 {
  @apply text-2xl md:text-4xl;
  font-family: 'Unbounded', sans-serif;
  line-height: 1.1;
  color: #423d33;
  font-weight: 500;
}

h3 {
  font-family: 'Unbounded', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #423d33;
}

h4 {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.1;
  
  color: #fe5b2c;
}

h5 {
  @apply text-xl md:text-2xl;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  color: #423d33;
}

h6 {
  @apply text-xl md:text-xl;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  color: #423d33;
}

a {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-size: 15px;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.button {
  background-color: #fe5b2c; 
  color: white;
  padding: 0.9em 1.6em;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}
.button:hover {
  background-color: #e14e26; 
}



